.toolbar-spacer {
  flex: 1 1 auto;
}

.nav-links {
  margin-left: 2em;
}

.nav-links a {
  margin: 0 0.5em;
}

.nav-links a.active {
  font-weight: 500;
}

.main-content {
  margin: 1em;
}
.idle-state {
  margin: 0 1em;
}

.idle-state .status {
  margin: 0 .25em;
}

.idle-state .ping {
  font-size: .5em;
  color: gray;
}

.online-status {
  width: .5em;
  height: .5em;
  border-radius: 50%;
  background-color: yellow;
  border: 2px solid white;
  /* bottom: 0;
  right: 0;
  position: absolute; */
  display: inline-block;
}

.online-status.online {
  background-color: green;
}

.online-status.idle {
  background-color: orange;
}

.online-status.offline {
  background-color: grey;
}
